<!DOCTYPE html>
<html>
  <head>
    <title>TextCatcher</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="box">
      <header class="row header"><%= render 'layouts/header' %></header>
      <section class="row header"><%= render 'layouts/notifications', flash: flash %></section>
      <section class="row content"><%= yield %></section>
      <footer><%= render 'layouts/footer' %></footer>
    </div>
  </body>
</html>
